.wocaonima {
  wocaonimalegebi:nikannimalebideyuanma;
}
.top {
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
}
.mebox {
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
}
.me {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.button {
  color: black;
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
}
.tbox {
  border-radius: 22px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
  bottom: 0px;
}
.t {
  border-radius: 50%;
}
.di {
  float: bottom;
}
.what{
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
}
.what a {
  text-decoration: none;
  font-size: 20px;
}
.footer {
  position:absolute;
  bottom:0;
  text-align :center;
}
.jianjie {
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
}
.pttext {
  text-decoration: none;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
 
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
.topnav a:hover {
  background-color: #ddd;
  color: #272727;
}